<!DOCTYPE html>
<html>
<head>
  <title>Samify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    soundcloud.addEventListener('onPlayerReady', function(player, data) {
     player.api_play();
    });
    </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
